[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-django = "*"
autopep8 = "*"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
django-livereload-server = "*"
tensorflow = "==1.15.4"
numpy = "*"
flask = "*"
pillow = "*"
requests = "*"

[requires]
python_version = "3.7"
